# CODEOWNERS for ha-jw-library
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files in the repository
* @javand

# Explicitly govern core integration and GitHub configurations
/custom_components/jw_library/ @javand
/.github/ @javand
/tests/ @javand
